alembic==1.0.0
amqp==2.3.2
atomicwrites==1.2.1
attrs==18.2.0
blinker==1.4
Click==7.0
coverage==4.5.1
cssmin==0.2.0
dnspython==1.15.0
eventlet==0.24.1
flake8==3.5.0
Flask==1.0.2
Flask-Assets==0.12
Flask-Cache==0.13.1
Flask-Caching==1.4.0
Flask-Cors==3.0.6
Flask-DebugToolbar==0.10.1
Flask-Login==0.4.1
Flask-Migrate==2.2.1
Flask-Script==2.0.6
Flask-SocketIO==3.0.2
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
greenlet==0.4.15
itsdangerous==0.24
Jinja2==2.10
jsmin==2.2.2
kombu==4.2.1
Mako==1.0.7
MarkupSafe==1.0
mccabe==0.6.1
monotonic==1.5
more-itertools==4.3.0
pluggy==0.7.1
py==1.6.0
pycodestyle==2.3.1
pyflakes==1.6.0
pytest==3.8.2
pytest-cov==2.6.0
python-dateutil==2.7.3
python-editor==1.0.3
python-engineio==2.3.1
python-socketio==2.0.0
six==1.11.0
SQLAlchemy==1.2.12
vine==1.1.4
webassets==0.12.1
websockets==6.0
Werkzeug==0.14.1
WTForms==2.2.1
