.bm-item {
  display: inline-block;
  text-align: left;
  text-decoration: none;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #137ECE;
  transition: color 1.9s;
}

.bm-item:hover {
  color: white;
}

.bm-burger-button {
  position: fixed;
  width: 24px;
  height: 22px;
  left: 1.5%;
  top: 2.5%;
}

.bm-burger-bars {
  background: #137ECE;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #137ECE;
}

.bm-menu {
  background: #FFFFFF;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  overflow: hidden;
}

.bm-morph-shape {
  fill: #137ECE;
}

.bm-item-list {
  color: #137ECE;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.menu {
  height: 100%;
  width: 100%;
}

.container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.sub-container {
  height: 95%;
  width: 100%;
  display: flex;
  flex: column wrap;
}

.app-nav {
  height: 3%;
  width: 100%;
  padding: 1%;
  box-shadow: 0 4px 2px 0 rgba(0,0,0,0.2);
}

.col1 {
  width: "5%";
}

.menu-icon {
  float: left;
  border-radius: 50%;
  cursor: pointer;
}

.menu-icon:hover {
  background-color: #eeeeee;
}

.app-name-div {
  float: left;
  padding: 0% 0%;
  color: #0052cc;
  margin-left: 2%;
  font-weight: 600;
  font-size: 1.1em;
}

.avatar {
  float: right;
  position: absolute !important;
  top: 0.75%;
  right: 5%;
  cursor: pointer;
}

.avatar-div {
  display: flex;
  padding: 6%;
  width: 100%;
  height: 6%;
  margin: 2% 0%;
  cursor: pointer;
  align-items: center;
  border-bottom: 1px solid #eeeeee;

}

.avatar-div:hover {
  background-color: #eeeeee;
}

.avatar-div:last-child {
  border-bottom: 0;
}

.avatar-div > a {
  width: 100%;
  text-align: left;
  text-decoration: none;
  font-size: 18px;
  color: #0052cc;
  transition: 0.1s;
  margin-left: 10px;
}

/* .MuiPopover-paper-13 {
  width: 100% !important;
  left: 1283px !important;
} */

.sidebar-popup {
  width: 100% !important;
  /* left: 1283px !important; */
}

.pages-container {
  height: 100%;
  margin-left: 5%;
  overflow-y: auto;
}
