.register-card {
	position: absolute;
	top: 5%;
	padding: 2%;
	left: 17%;
	width: 60%;
	height: 80%;
}

.column-wrap {
    display: flex;
    flex: column wrap;
}

.main-header {
	margin-top: 3%;
}

.register-btn {
	margin-top: 6%;
    margin-left: 45%;
    text-align: center;
    width: 10%;
}

.register-btn span {
	text-align: center !important;
}

.cEKayt {
	text-align: center;
	margin-bottom: 0%;
}

.ifjtzi {
	padding: 0%;
}

.dKDRgr {
	font-size: 1.05em;
	text-align: left;
	margin-left: 0%;
}

.hTWHfk {
    margin: 0%;
}

.bXOmNt {
	width: 60%;
}

.error-register {
    text-align: center;
    width: 100%;
    margin: 2%;
	color: red;
}


@media only screen and (max-width: 1300px) {
	.register-btn {
		margin-top: 3%;
		margin-left: 45%;
		text-align: center;
		width: 13%;
	}

	.register-card {
		position: absolute;
		top: 5%;
		padding: 1%;
		left: 17%;
		width: 60%;
		height: 85%;
	}

	.register-btn span {
		text-align: center !important;
	}
}