.login-card {
	position: absolute;
	top: 20%;
	padding: 2%;
	left: 38%;
	width: 20%;
	height: 50%;
}

.main-header {
	margin-top: 3%;
}

.login-btn {
	margin: 10%;
	text-align: center;
	width: 30%;
}

.login-btn span {
	text-align: center !important;
}

.error-login {
	text-align: center;
    width: 100%;
    margin: 2%;
	color: red;
}

.cEKayt {
	text-align: center;
	margin-bottom: 0%;
}

.ifjtzi {
	padding: 0%;
}

.dKDRgr {
	font-size: 1.15em;
	text-align: left;
	margin-left: 0%;
}

.bXOmNt {
	width: 80%;
}